
{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ if .Params.subtitle }}
<h5 id="subtitle">{{ .Params.subtitle }}</h5>
{{ end }}


{{ .Content }}


<hr />

<p>Author: {{ .Params.authorname }}</p>
<p><a href="{{ .Params.amazonlink }}">Amazon Link</a></p>
<p><a href="{{ .Params.bookpage }}">Official Book Page</a></p>

<p><strong>Tags:</strong> 

{{ $baseurl := .Site.BaseURL }}	

<ul>
{{ range .Params.tags }}<li id="tags"> <a href="{{ $baseurl }}/tags/{{ . }}">{{ . }}</a> </li>{{ end }}
</ul>

</p>

{{ partial "footer.html" . }}
    
