{{ partial "header.html" . }}

<div class="date">

<p>
{{ .Date.Format "January 2, 2006" }} - {{ .WordCount }} Words
</p>

</div>

<article>


<h1>{{ .Title }}</h1>

{{ if .Params.subtitle }}

<h5>{{ .Params.subtitle }}</h5>

{{ end }}


{{ .Content }}

</article>

<br />

<p><strong>Tags:</strong></p> 

{{ $baseurl := .Site.BaseURL }}

<ul>
{{ range .Params.tags }}<li id="tags"> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>{{ end }}
</ul>

<br />

<center>

<div>
	{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">Previous</a> | {{ end }}<a href="{{ $baseurl }}/post/">Blog</a>{{ if .NextInSection }} | <a href="{{ .NextInSection.Permalink }}">Next</a>{{ end }}
</div>

</center>

<br />

{{ partial "footer.html" . }}
