<hr />

<div class="contain">

<div class="three col">

<img src="http://www.mariosanchez.org/images/mypictr_165x165.jpg" width="165px" class="roundnew">

</div>

<div class="nine col">

<p><strong>Mario Sanchez Carrion</strong> | <strong>mariosanchez.org</strong><br />
Product marketing strategy.<br />
<a href="tel:305-699-6541" class="social">(305) 699-6541</a><br />
<a href="mailto:mario@mariosanchez.org" class="social">mario@mariosanchez.org</a><br />
<a href="http://www.linkedin.com/in/mariobox" class="social">LinkedIn</a> | <a href="http://www.twitter.com/mariobox" class="social">Twitter</a> | <a href="http://github.com/mariobox" class="social">Github</a> | <a href="https://teamtreehouse.com/mariosanchezcarrion" class="social">Treehouse</a></span>
</p>

</div>
</div>

