
<div class="row">

<div class="three columns">

<img src="/images/mscwebdev.JPG" width="165 px" class="profile" alt="My Picture">

</div>

<div class="nine columns">

<p>
This is the personal website of <strong>Mario Sanchez Carrion</strong>, a Miami-based product marketing manager and front-end web developer in training. [<a href="/about">More</a>]</p>

<p><strong>Contact</strong>:<br />
<a href="tel:305-699-6541">(305) 699-6541</a> | <a href="mailto:mario@mariosanchez.org">mario@mariosanchez.org</a><br />
<a href="http://www.twitter.com/mariobox">Twitter</a> | <a href="http://www.linkedin.com/in/mariobox/">LinkedIn</a> | <a href="http://github.com/mariobox">Github</a>
</p>

</div>

</div>


<hr />





