
<div class="container">
    <nav>
    <div class="row">
      <div class="twelve columns">
        
        <ul class="blocknav">
            <li><a href="/" class="brand"><img src="/images/msc-logo.png" class="logo" alt="Site Logo"></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/post">Blog</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        
        </div>
    </div>
            
    </nav>