<div class="container">
    <nav>
    <div class="row">
      <div class="three columns">
        <a href="/"><img src="/images/msc.png" width="120px"></a>
      </div>
    
    <div class="nine columns">
        <ul class="navmenu">
            <li class="navmenu"><a href="/">Home</a></li>
            <li class="navmenu"><a href="/post">Blog</a></li>
            <li class="navmenu"><a href="/gallery">Gallery</a></li>
            <li class="navmenu"><a href="/about">About</a></li>
        </ul>
    </div>
    </div>
    <hr />
    </nav>