<nav>

<div class="contain">

<div class="twelve col">


<!--Logo starts here-->

<div class="wrap-menu">

<div class="wrap">

<!--Menu starts here-->

<span class="home"><a href="/"><img src="/../images/compass.png" width="45px" style="vertical-align: middle;"></a></span>


<span class="menu"><a href="/">Home</a></span>
<span class="menu"><a href="/post/">Blog</a></span>
<span class="menu"><a href="/book/">Books</a></span>
<span class="menu"><a href="/photos/">Photos</a> </span>
<span class="menu"><a href="/about/">About</a></span>
<span class="menu"><a href="/now/">Now</a></span>


</div>



</div>

</div>

</div>

</nav>

<div class="wrap-content">
