{{ partial "header.html" . }}

{{ partial "contact.html" . }}

<div class="row">
	<div class="twelve columns">

<p>This is what I'm doing <a href="/now">now</a>.</p>

<h2>Articles</h2>

<p>Here are some notes-to-self I've written, usually about tech, business and books I read.</p> 
<ul>
{{ range first 3 (where .Data.Pages "Section" "post") }}
{{ if eq .Type "post" }}
{{ .Render "li" }}
{{ end }}
{{ end }}
</ul>

<p>[<a href="/post">More</a>]</p>

<h2>Gallery</h2>
<p>A timeline of pictures of places I've been or things I'm doing.</p>
<div class="picbox"><figure><img src="http://66.media.tumblr.com/3a9fce7081e44f1fbafab7adc6051f10/tumblr_ofv7d2aqfP1qz7ur9o3_540.jpg" class="frame"><figcaption>Visual Storytelling Summit @ The Idea Center</figcaption></figure></div>
<div class="picbox"><figure><img src="http://67.media.tumblr.com/5b1ff46184c72d8eb99ce41e13953bc1/tumblr_ofv7d2aqfP1qz7ur9o2_540.jpg" class="frame"><figcaption>Capitol, Annapolis, MD</figcaption></figure></div>
<div class="picbox"><figure><img src="http://67.media.tumblr.com/6cee5295e83e548ece49d8408c31e99f/tumblr_ofv7d2aqfP1qz7ur9o1_540.jpg" class="frame"><figcaption>Harbor, Annapolis, MD</figcaption></figure></div>

<p>[<a href="/gallery">More</a>]</p>

<hr />

</div>
</div>


{{ partial "copyright.html" . }}




				
