{{ partial "header.html" . }}

<h1>Latest</h1>

<h3>Blog Posts</h3>
<ul class="nobullet">
{{ range first 3 (where .Data.Pages "Section" "post") }}
{{ if eq .Type "post" }}
{{ .Render "li" }}
{{ end }}
{{ end }}
</ul>

<h3>Book Reviews</h3>
<ul class="nobullet">
{{ range first 3 (where .Data.Pages "Section" "book") }}
{{ if eq .Type "book" }}
{{ .Render "li" }}
{{ end }}
{{ end }}
</ul>


<p>I have just started a mailing list. You can <a href="http://www.tinyletter.com/mariosanchez">join here</a>.</p>

{{ partial "footer.html" . }}




				
