{{ partial "header.html" . }}


<div class="contain">

<div class="three col">

<img src="http://www.mariosanchez.org/images/mypictr_165x165.jpg" width="165px" class="roundnew">

</div>

<div class="nine col">





<p>
This is the personal website of <strong>Mario Sanchez Carrion</strong>, a Miami-based product manager and web development enthusiast. [<a href="/about">More</a>]</p>

<p><strong>Contact</strong>:<br />
<a href="tel:305-699-6541">(305) 699-6541</a> | <a href="mailto:mario@mariosanchez.org">mario@mariosanchez.org</a> | <a href="http://github.com/mariobox">Github</a>
</p>

</div>
</div>

<hr />
<p>This is what I'm doing <a href="/now">now</a>.</p>

<hr />

<h3>Articles</h3>

<ul>
{{ range first 3 (where .Data.Pages "Section" "post") }}
{{ if eq .Type "post" }}
{{ .Render "li" }}
{{ end }}
{{ end }}
</ul>

<p>[<a href="/post">More</a>]</p>

<hr />


{{ partial "copyright.html" . }}




				
