</div>
<footer>
<hr />
<div class="social">
<p><strong>You can also find me here:</strong></p>
<p><a href="http://www.github.com/mariobox"><img src="/images/Github.png" class="social-icon" alt="Github"></a><a href="http://www.teamtreehouse.com/mariosanchezcarrion"><img src="/images/Treehouse.png" class="social-icon" alt="Treehouse"></a></p>
</div>
<div class="contact">
<p><strong>Contact me:</strong></p>
<p><a href="mailto:mario@mariosanchez.org">mario@mariosanchez.org</a></p>
</div>
</footer>
</body>
</html>      