</article>


<footer>

<hr />

<div class="footer-pic">

<img src="/images/mypictr_165x165.jpg" width="120px" class="profile">

</div>

<div class="contact">

<p><strong>Mario Sanchez Carrion</strong><br />Miami based product manager and technology enthusiast.</p>

<p><strong>Contact me:</strong><br />
<a href="mailto:mario@mariosanchez.org">mario@mariosanchez.org</a></p>

<p><strong>Find me in:</strong><br />
<a href="http://www.github.com/mariobox"><img src="/images/Github.png" class="social-icon" alt="Github"></a><a href="http://www.teamtreehouse.com/mariosanchezcarrion"><img src="/images/Treehouse.png" class="social-icon" alt="Treehouse"></a></p>

</div>

</footer>

</body>

</html> 