<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<link rel="stylesheet" type="text/css" href="/css/basic.css">
<title>{{ .Title }} - mariosanchez.org</title>    
</head>
<body>
<div id="header">
<img src="/images/MSC-JPG.jpg" width="100px" style="border-radius: 100%; margin-top: 30px;">
<h1>Mario Sanchez Carrion</h1>

<nav><a href="/">HOME</a> | <a href="/blog">BLOG</a> | <a href="/reading">READ</a> | <a href="/photos">PHOTOS</a> | <a href="/about">ABOUT</a></nav>
</div>
<div class="content">