<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
<link rel="stylesheet" type="text/css" href="/css/basic.css">
<title>{{ .Title }} - mariosanchez.org</title>    
</head>
<body>

<header>

<a href="/"><img src="/images/MSCNEW.png" width="300px" class="logo"></a>


<div class="navtop"><a href="../blog/">I write</a>.<br /> <a href="../reading/">I read</a>. <br />
<a href="../travel/">I travel</a>.  <br />
<a href="../about/">More</a>.
</div>

</header>
