<!DOCTYPE html>
<html>

<head>

<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<link rel="stylesheet" type="text/css" href="/css/framework.css">

<title>{{ .Title }} - mariosanchez.org</title> 

<meta name="description" content="Personal website of Mario Sanchez Carrion">   

</head>

<body>

<header>

<div class="contain">
<div class="ten col off-one">
<nav><a href="/"><em><strong><span style="color:#000; font-size:1.5em">M</span><span style="color:#666; font-size:1.5em;">S</span><span style="color:#999; font-size:1.5em">C</span></a></strong></em><br /><br /><a href="/blog/">BLOG</a> | <a href="/travel/">PHOTOS</a> | <a href="/about/">ABOUT</a> | <a href="/contact/">CONTACT</a></nav>
<br />
<hr />

</div>
</div>

</header>