
{{ partial "header.html" . }}

<h2>Welcome</h2>

<p>My name is Mario Sanchez Carrion and this is my personal website. I am a product manager and technology enthusiast based in Miami, Florida. </p>

<p>My core competencies are product marketing strategy, international business, and branding. </p>

<p>Other areas of interest are: personal finance and investing, self-directed education, digital self-reliance, and web development. If you know of any good articles on these topics feel free to <a href="mailto:mario@mariosanchez.org">send me a link</a> (no pitching, please).</p>

<p><strong>Last updated:</strong> June 2, 2015</p>



{{ partial "footer.html" . }}    

		      
					