
{{ partial "header.html" . }}


<p>Product manager and technology enthusiast living in Miami.</p>
<h2>What's New?</h2>
<ul>
<li><span class="date">2015-07-03 | </span>Added <em>Countries I've Visited</em> chart in <a href="/about/">About</a> page.</li>
<li><span class="date">2015-06-20 | </span>New blog post: <a href="../best-tools">Using The Best Tools</a>.</li>
<li><span class="date">2015-06-07 | </span>Posted some pictures of <a href="../lima/">Lima</a>.</li>
</ul>


{{ partial "footer.html" . }}    

		      
					