
{{ partial "header.html" . }}

<h2>Welcome</h2>

<p>My name is Mario Sanchez Carrion and this is my personal website. I am a product manager and technology enthusiast based in Miami, Florida. </p>

<p>My core competencies are product marketing strategy, international business, and branding. </p>

<p>Aside from that, I'm also interested in: <a href="../tags/money/">personal finance and investing</a>, self-directed education, <a href="../mini">minimalism</a>, <a href="../tags/tech/">digital self-reliance</a>, and web development. If you know of any good articles on these topics feel free to <a href="mailto:mario@mariosanchez.org">send me a link</a>.</p>

<p><strong>Last updated:</strong></p>
<p>June 7, 2015 | Posted some pictures from <a href="../lima/">Lima</a>.</p>



{{ partial "footer.html" . }}    

		      
					