{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

<p>

{{ .Site.Params.blogblurb }}

<form style="border:0px solid #ccc;padding:3px;text-align:left;" action="https://tinyletter.com/mariosanchez" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mariosanchez', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">If you would like to be part of my exclusive mailing list please enter your email here:</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank"><span style="font-size: 10px;">powered by TinyLetter</span></a></p></form>

</p>
       

{{ range .Data.Pages.GroupByDate "2006" }}

<h3>{{ .Key }}</h3>

<ul class="nobullet">
    {{ range .Pages }}
    {{ .Render "li" }}
    {{ end }}
</ul>

{{ end }}

{{ partial "footer.html" . }}